.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(51,51,52,0.8);
    border-radius: 4px;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
}

.counter {
    color: white;
    font-size: 14px;
}
